sample-project-4.3/src/main/mule/customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">

	<!-- LEGACY CONFIGURATION - Needs 4.9 Updates -->
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>

	<!-- Legacy Database Configuration -->
	<db:config name="Database_Config" doc:name="Database Config">
		<db:generic-connection driverClassName="org.postgresql.Driver" 
			url="${db.url}" 
			user="${db.user}" 
			password="${db.password}"/>
	</db:config>

	<!-- Legacy Salesforce Configuration -->
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config">
		<salesforce:basic-connection username="${salesforce.username}" 
			password="${salesforce.password}" 
			securityToken="${salesforce.securityToken}"/>
	</salesforce:sfdc-config>

	<!-- MAIN FLOW - Contains Legacy Patterns -->
	<flow name="get-customers" doc:id="abc123">
		<http:listener doc:name="Listener" 
			config-ref="HTTP_Listener_config" 
			path="/api/customers"/>
		
		<!-- Legacy Error Handling Pattern -->
		<try doc:name="Try">
			<!-- Database Query with Legacy Syntax -->
			<db:select doc:name="Select Customers" config-ref="Database_Config">
				<db:sql>SELECT * FROM customers WHERE status = 'ACTIVE'</db:sql>
			</db:select>
			
			<!-- Legacy DataWeave Transformation -->
			<ee:transform doc:name="Transform Response">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
// LEGACY: Using deprecated functions that need 4.9 updates
{
	customers: payload map {
		id: $.CUSTOMER_ID,
		name: $.CUSTOMER_NAME,
		email: $.EMAIL_ADDRESS,
		// DEPRECATED: This function signature changed in 4.9
		created: $.CREATED_DATE as String {format: "yyyy-MM-dd"},
		// LEGACY: Manual null checking - can be simplified in 4.9
		status: if ($.STATUS != null) $.STATUS else "UNKNOWN"
	}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			
			<error-handler>
				<!-- Legacy Error Handling - Needs 4.9 Pattern -->
				<on-error-propagate enableNotifications="true" logException="true">
					<logger level="ERROR" doc:name="Logger" message="Database error occurred"/>
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>

	<!-- CUSTOMER SYNC FLOW - Legacy Salesforce Integration -->
	<flow name="sync-customer-to-salesforce" doc:id="def456">
		<http:listener doc:name="Listener" 
			config-ref="HTTP_Listener_config" 
			path="/api/customers/sync"/>
		
		<!-- Legacy Salesforce Operation -->
		<salesforce:create doc:name="Create Account" 
			config-ref="Salesforce_Config" 
			type="Account">
			<salesforce:records><![CDATA[#[payload]]]></salesforce:records>
		</salesforce:create>
		
		<!-- Legacy Response Pattern -->
		<ee:transform doc:name="Transform">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: "SUCCESS",
	// LEGACY: Direct payload access pattern
	salesforceId: payload[0].Id,
	message: "Customer synced successfully"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>

	<!-- BATCH PROCESSING FLOW - Legacy Patterns -->
	<flow name="batch-customer-processing" doc:id="ghi789">
		<scheduler doc:name="Scheduler">
			<scheduling-strategy>
				<fixed-frequency frequency="30000"/>
			</scheduling-strategy>
		</scheduler>
		
		<!-- Legacy Batch Processing -->
		<batch:job jobName="customer-batch" doc:id="batch-job">
			<batch:input>
				<db:select doc:name="Select" config-ref="Database_Config">
					<db:sql>SELECT * FROM customers WHERE sync_status = 'PENDING'</db:sql>
				</db:select>
			</batch:input>
			
			<batch:process-records>
				<batch:step name="processStep">
					<!-- Legacy individual record processing -->
					<salesforce:upsert doc:name="Upsert" 
						config-ref="Salesforce_Config" 
						type="Account"
						externalIdFieldName="External_Id__c">
						<salesforce:records><![CDATA[#[payload]]]></salesforce:records>
					</salesforce:upsert>
				</batch:step>
			</batch:process-records>
			
			<batch:on-complete>
				<logger level="INFO" message="Batch completed"/>
			</batch:on-complete>
		</batch:job>
	</flow>
</mule>