modernized-project-4.9/src/main/mule/customer-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:batch="http://www.mulesoft.org/schema/mule/batch"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/batch http://www.mulesoft.org/schema/mule/batch/current/mule-batch.xsd">

	<!-- ✅ MODERNIZED: Enhanced HTTP Listener Configuration -->
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config">
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>

	<!-- ✅ MODERNIZED: Secure Database Configuration with Connection Pooling -->
	<db:config name="Database_Config" doc:name="Database Config">
		<db:generic-connection driverClassName="org.postgresql.Driver" 
			url="${db.url}" 
			user="${db.user}" 
			password="${db.password}">
			<db:connection-properties>
				<db:connection-property key="maximumPoolSize" value="10"/>
				<db:connection-property key="minimumIdle" value="2"/>
				<db:connection-property key="connectionTimeout" value="30000"/>
			</db:connection-properties>
		</db:generic-connection>
	</db:config>

	<!-- ✅ MODERNIZED: Enhanced Salesforce Configuration with OAuth 2.0 -->
	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config">
		<salesforce:basic-connection username="${salesforce.username}" 
			password="${salesforce.password}" 
			securityToken="${salesforce.securityToken}"/>
	</salesforce:sfdc-config>

	<!-- ✅ MODERNIZED: Enhanced Customer Retrieval Flow -->
	<flow name="get-customers" doc:id="abc123">
		<http:listener doc:name="Listener" 
			config-ref="HTTP_Listener_config" 
			path="/api/customers"
			allowedMethods="GET"/>
		
		<logger level="INFO" doc:name="Request Logger" 
			message="Processing customer request - Status: #[attributes.queryParams.status default 'ACTIVE'], CorrelationId: #[correlationId]"/>
		
		<!-- ✅ MODERNIZED: Enhanced Try-Catch with Better Error Handling -->
		<try doc:name="Try">
			<!-- ✅ MODERNIZED: Parameterized Database Query with Security -->
			<db:select doc:name="Select Customers" config-ref="Database_Config">
				<db:sql>SELECT customer_id, customer_name, email_address, created_date, status 
					FROM customers 
					WHERE status = :status 
					ORDER BY created_date DESC 
					LIMIT 100</db:sql>
				<db:input-parameters><![CDATA[#[{
					status: attributes.queryParams.status default "ACTIVE"
				}]]]></db:input-parameters>
			</db:select>
			
			<!-- ✅ MODERNIZED: Enhanced DataWeave with Modern Functions -->
			<ee:transform doc:name="Transform Response">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	customers: payload map {
		id: $.customer_id,
		name: $.customer_name,
		email: $.email_address,
		// ✅ MODERNIZED: Updated date formatting for Mule 4.9
		created: $.created_date as String {format: "yyyy-MM-dd'T'HH:mm:ss'Z'"},
		// ✅ MODERNIZED: Simplified null handling with default operator
		status: $.status default "UNKNOWN"
	},
	metadata: {
		totalRecords: sizeOf(payload),
		timestamp: now(),
		version: "4.9",
		correlationId: correlationId
	}
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>
			
			<logger level="INFO" doc:name="Success Logger" 
				message="Successfully retrieved #[payload.metadata.totalRecords] customers"/>
			
			<error-handler>
				<!-- ✅ MODERNIZED: Enhanced Error Handling Patterns -->
				<on-error-propagate enableNotifications="true" logException="true" type="DB:CONNECTIVITY">
					<logger level="ERROR" doc:name="Database Error Logger" 
						message="Database connectivity error: #[error.description]"/>
					<ee:transform doc:name="Database Error Response">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "DATABASE_ERROR",
	message: "Service temporarily unavailable",
	timestamp: now(),
	correlationId: correlationId
}]]></ee:set-payload>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="httpStatus">503</ee:set-variable>
						</ee:variables>
					</ee:transform>
				</on-error-propagate>
				
				<on-error-propagate enableNotifications="true" logException="true" type="ANY">
					<logger level="ERROR" doc:name="General Error Logger" 
						message="Unexpected error: #[error.description]"/>
					<ee:transform doc:name="General Error Response">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "INTERNAL_ERROR",
	message: "An unexpected error occurred",
	timestamp: now(),
	correlationId: correlationId
}]]></ee:set-payload>
						</ee:message>
						<ee:variables>
							<ee:set-variable variableName="httpStatus">500</ee:set-variable>
						</ee:variables>
					</ee:transform>
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>

	<!-- ✅ MODERNIZED: Enhanced Customer Sync Flow -->
	<flow name="sync-customer-to-salesforce" doc:id="def456">
		<http:listener doc:name="Listener" 
			config-ref="HTTP_Listener_config" 
			path="/api/customers/sync"
			allowedMethods="POST"/>
		
		<logger level="INFO" doc:name="Request Logger" 
			message="Processing customer sync for: #[payload.email]"/>
		
		<!-- ✅ MODERNIZED: Input validation -->
		<choice doc:name="Validate Input">
			<when expression="#[payload.name == null or payload.email == null]">
				<logger level="ERROR" doc:name="Validation Error" 
					message="Missing required fields: name or email"/>
				<ee:transform doc:name="Validation Error Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "VALIDATION_ERROR",
	message: "Customer name and email are required",
	timestamp: now(),
	correlationId: correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<!-- ✅ MODERNIZED: Transform for Salesforce API -->
				<ee:transform doc:name="Prepare Salesforce Record">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Name: payload.name,
	Email: payload.email,
	External_Id__c: payload.id default uuid(),
	Customer_Status__c: payload.status default "ACTIVE",
	Created_Date__c: now()
}]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				
				<!-- ✅ MODERNIZED: Enhanced Salesforce Operation -->
				<salesforce:create doc:name="Create Account" 
					config-ref="Salesforce_Config" 
					type="Account">
					<salesforce:records><![CDATA[#[payload]]]></salesforce:records>
				</salesforce:create>
				
				<!-- ✅ MODERNIZED: Enhanced Response with Metadata -->
				<ee:transform doc:name="Transform Success Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: "SUCCESS",
	salesforceId: payload[0].Id,
	message: "Customer synced successfully to Salesforce",
	metadata: {
		timestamp: now(),
		version: "4.9",
		correlationId: correlationId
	}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				
				<logger level="INFO" doc:name="Success Logger" 
					message="Successfully synced customer to Salesforce - ID: #[payload.salesforceId]"/>
			</otherwise>
		</choice>
		
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" type="SALESFORCE:CONNECTIVITY">
				<logger level="ERROR" doc:name="Salesforce Error Logger" 
					message="Salesforce connectivity error: #[error.description]"/>
				<ee:transform doc:name="Salesforce Error Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	error: "EXTERNAL_SERVICE_ERROR",
	message: "Unable to connect to Salesforce",
	timestamp: now(),
	correlationId: correlationId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">502</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>

	<!-- ✅ MODERNIZED: Enhanced Batch Processing Flow -->
	<flow name="batch-customer-processing" doc:id="ghi789">
		<scheduler doc:name="Scheduler">
			<scheduling-strategy>
				<fixed-frequency frequency="300000" startDelay="60000"/>
			</scheduling-strategy>
		</scheduler>
		
		<logger level="INFO" doc:name="Batch Start Logger" 
			message="Starting batch customer processing - CorrelationId: #[correlationId]"/>
		
		<!-- ✅ MODERNIZED: Enhanced Batch Job -->
		<batch:job jobName="customer-batch-4.9" doc:id="batch-job" blockSize="100" maxConcurrency="4">
			<batch:input>
				<db:select doc:name="Select Pending Customers" config-ref="Database_Config">
					<db:sql>SELECT customer_id, customer_name, email_address, external_id, status, created_date 
						FROM customers 
						WHERE sync_status = 'PENDING' 
						AND created_date >= CURRENT_DATE - INTERVAL '7 days'
						ORDER BY created_date ASC 
						LIMIT 1000</db:sql>
				</db:select>
				
				<logger level="INFO" doc:name="Input Logger" 
					message="Loaded #[sizeOf(payload)] customers for batch processing"/>
			</batch:input>
			
			<batch:process-records>
				<!-- ✅ MODERNIZED: Enhanced Batch Processing Step -->
				<batch:step name="validateAndTransformStep" acceptExpression="#[payload != null]">
					<ee:transform doc:name="Transform for Salesforce">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
	Name: payload.customer_name,
	Email: payload.email_address,
	External_Id__c: payload.external_id default payload.customer_id,
	Customer_Status__c: payload.status default "ACTIVE",
	Batch_Processed_Date__c: now()
}]]></ee:set-payload>
						</ee:message>
					</ee:transform>
				</batch:step>
				
				<batch:step name="upsertToSalesforceStep" acceptExpression="#[payload.External_Id__c != null]">
					<!-- ✅ MODERNIZED: Enhanced Upsert Operation -->
					<salesforce:upsert doc:name="Upsert to Salesforce" 
						config-ref="Salesforce_Config" 
						type="Account"
						externalIdFieldName="External_Id__c">
						<salesforce:records><![CDATA[#[payload]]]></salesforce:records>
					</salesforce:upsert>
					
					<!-- ✅ MODERNIZED: Update sync status in database -->
					<db:update doc:name="Update Sync Status" config-ref="Database_Config">
						<db:sql>UPDATE customers 
							SET sync_status = 'COMPLETED', 
								synced_at = CURRENT_TIMESTAMP,
								salesforce_id = :sfId
							WHERE customer_id = :customerId</db:sql>
						<db:input-parameters><![CDATA[#[{
							sfId: payload[0].Id,
							customerId: payload[0].External_Id__c
						}]]]></db:input-parameters>
					</db:update>
				</batch:step>
			</batch:process-records>
			
			<!-- ✅ MODERNIZED: Enhanced Batch Completion Handling -->
			<batch:on-complete>
				<logger level="INFO" doc:name="Batch Complete Logger" 
					message="Batch processing completed - Successful: #[payload.successfulRecords], Failed: #[payload.failedRecords], Total: #[payload.totalRecords]"/>
				
				<!-- ✅ MODERNIZED: Batch results handling -->
				<choice doc:name="Check Batch Results">
					<when expression="#[payload.failedRecords > 0]">
						<logger level="WARN" doc:name="Failures Detected" 
							message="Batch completed with #[payload.failedRecords] failures out of #[payload.totalRecords] records"/>
					</when>
					<otherwise>
						<logger level="INFO" doc:name="All Success" 
							message="Batch completed successfully - All #[payload.totalRecords] records processed"/>
					</otherwise>
				</choice>
			</batch:on-complete>
		</batch:job>
	</flow>

	<!-- ✅ MODERNIZED: Health Check Flow -->
	<flow name="health-check" doc:id="jkl012">
		<http:listener doc:name="Health Check Listener" 
			config-ref="HTTP_Listener_config" 
			path="/health"
			allowedMethods="GET"/>
		
		<ee:transform doc:name="Health Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: "UP",
	version: "4.9.0",
	timestamp: now(),
	metadata: {
		runtime: "Mule 4.9",
		javaVersion: "17",
		correlationId: correlationId,
		improvements: [
			"Enhanced error handling patterns",
			"Modernized DataWeave syntax",
			"Secure configuration properties",
			"Connection pooling for database",
			"Batch processing optimization",
			"Comprehensive logging and monitoring"
		]
	}
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>